NEXT_PUBLIC_SUPABASE_URL=https://cumfrkiudqgrflnebysy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1bWZya2l1ZHFncmZsbmVieXN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA0MDM5MzIsImV4cCI6MjEwNTk3OTkzMn0.V84uK0LvRmzHpylHwIAcDRhphBj1kl66Opru-TVO7DM
